body { background : linear-gradient(135deg, #7583b8 0%, #5b3187 100%); 
         color : #fff; 
         font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
         line-height : 1.6; 
         margin : 20px; 
         padding : 0;
}
#chisono h2 { text-align: right;
              font-size: 32px;
              margin-bottom: 10px;
              margin-top: 40px;
}
#chisono p { text-align: end;
             font-size: 15px;
             margin-bottom: 10px;
             margin-top: 10px;
}
#chisono img { display: block;
               margin: 10px auto;
               width: 200px;
               height: auto;
}
#passioni h2 { text-align: center;
              font-size: 32px;
              margin-bottom: 10px;
              margin-top: 40px;
}
#passioni img { display: block;
                margin: 40px auto;
                width: 500px;
                height: auto;
}
#hobby h2 { text-align: left;
            font-size: 32px;
            margin-bottom: 10px;
            margin-top: 40px;
}
#hobby img { display: block;
             margin: 40px 0 10px 50px;
             width: 390px;
             height: auto;
}


@media (max-width: 800px) {
    #hobby img, #passioni img, #chisono img {
        float: none;
        display: block;
        margin: 20px auto;
        max-width: 90%;
        width: auto;
    }
}


@media (min-width: 801px) {
    #chisono img {
        float: left;
        margin: 40px 20px 10px 0;
        width: 240px;
    }
    #hobby img {
        float: right;
        margin: 40px 0 10px 50px;
        width: 420px;
    }
    #chisono, #hobby {
        overflow: auto;
    }
}


        
    
